<div class='container'>
  <input
  type='text'
  style='padding:8px;margin:15px auto;width:30%;'
  placeholder='Type to filter the name column...'
  (keyup)='updateFilter($event)'
  />
  <div>
    <ngx-datatable
    class="material"
          [rows]="rows"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [reorderable]="reorderable"
     >
    <ngx-datatable-column name="Name"></ngx-datatable-column>
    <ngx-datatable-column name="Gender" ></ngx-datatable-column>
    <ngx-datatable-column name="Company"></ngx-datatable-column>
  </ngx-datatable>
</div>
</div>
<div >

</div>
